
/* normalize */

ul
    padding: 0
    margin: 0
dl
    margin: 0
    padding: 0

/* actual styles start here */

body
    padding: 20px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
    color: green

nav
    padding: 0 0 10px 0

.card
    margin: 10px
    &.running
        color: red
    list-style-type: none
    dt
        font-weight: bold
        float: left
    dd
        float: clear
a
  color: #00B7FF
